<!--     <div class='jumbotron' id='home_page_jumbotron'>
        <img id='home_page_pic' class ='img-responsive'src='/assets/Apt Pics/1.jpg'>
    </div> -->


<div class= 'container'>
    <div class="row">
        <div class='col-md-12'>
            <% if flash[:notice] %>
              <div class="alert alert-success">
                <%= flash[:notice] %>
              </div>
            <% end %>
        </div>
    </div>
</div>

