<% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if logged_in? %>
  <li> Hi <%= current_user.first_name %>
  <li><%= link_to 'Log Out', logout_path%></li>
<% end %>