body{
    background: url('/assets/apt_pics/1.jpg');
    background-size: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

